{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu - {{ parent() }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="box">
                        <h1 class="title has-text-centered mb-5">Créer un nouveau lieu</h1>
                        {{ include('lieu/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
