<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns is-centered">
            <div class="column is-3">
                <h4 class="title is-4">Sortir.com</h4>
                <p class="subtitle is-6">
                    Plateforme d'organisation de sorties pour les stagiaires d'ENI
                </p>
                <div class="buttons is-centered">
                    <a href="#" class="button is-small is-link is-rounded">
                        <span class="icon"><i class="fas fa-facebook"></i></span>
                    </a>
                    <a href="#" class="button is-small is-info is-rounded">
                        <span class="icon"><i class="fas fa-twitter"></i></span>
                    </a>
                    <a href="#" class="button is-small is-dark is-rounded">
                        <span class="icon"><i class="fas fa-github"></i></span>
                    </a>
                </div>
            </div>

            <div class="column is-3">
                <h5 class="title is-5">Campus</h5>
                <ul>
                    <li><a href="#">Nantes</a></li>
                    <li><a href="#">Rennes</a></li>
                    <li><a href="#">Niort</a></li>
                    <li><a href="#">Quimper</a></li>
                </ul>
            </div>

            <div class="column is-3">
                <h5 class="title is-5">Liens utiles</h5>
                <ul>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <hr>

        <p>
            <strong>Sortir.com</strong> - une initiative du Bureau Des Élèves d'ENI École Informatique
            <br>
            © 2025 ENI École Informatique | Tous droits réservés
        </p>
    </div>
</footer>