<footer class="footer" >
    <div class="content has-text-centered" >
        <div class="columns is-centered">
            <div class="column is-3">
                <h4 class="title is-4">Sortir.com</h4>
                <p class="subtitle is-6">
                    Plateforme d'organisation de sorties pour les stagiaires d'ENI
                </p>
                <div class="buttons is-centered">
                    <a href="https://www.youtube.com/@ENIEcoleInformatique" class="button  is-danger is-square">
                        <span class="icon"><i class="fab fa-youtube"></i></span>
                    </a>
                    <a href="https://www.instagram.com/eniecoleinformatique/" class="button is-info is-square">
                        <span class="icon"><i class="fab fa-instagram"></i></span>
                    </a>
                    <a href="https://www.linkedin.com/school/eni-ecole-informatique/" class="button is-link is-square">
                        <span class="icon"><i class="fab fa-linkedin"></i></span>
                    </a>
                </div>
            </div>

            <div class="column is-3">
                <h5 class="title is-5">Campus</h5>
                <ul>
                    <li><a href="https://www.eni-ecole.fr/campus/nantes/">Nantes</a></li>
                    <li><a href="https://www.eni-ecole.fr/campus/rennes/">Rennes</a></li>
                    <li><a href="https://www.eni-ecole.fr/campus/niort/">Niort</a></li>
                    <li><a href="https://www.eni-ecole.fr/campus/quimper/">Quimper</a></li>
                    <li><a href="https://www.eni-ecole.fr/campus/en-ligne/">En Ligne</a></li>
                </ul>
            </div>

            <div class="column is-3">
                <h5 class="title is-5">Liens utiles</h5>
                <ul>
                    <li> En cas de problème : <a href="mailto:admin@sortir.com">Contact</a></li>
                </ul>
            </div>
        </div>



        <p style="color: var(--bulma-primary);">
            <strong>Sortir.com</strong> - Par les Plus Ou Moins A Distance (POMAD)
            <br>
            © {{ "now"|date("Y") }} ENI École Informatique | Tous droits réservés
        </p>
    </div>
</footer>