{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="section has-text-centered">
        <h1 class="title is-centered">Bienvenue sur Sortir.com</h1>

        <div class="container">
            <div class="card-content">
                <p class="subtitle">
                    Une site conçu par les étudiants pour les étudiants
                </p>
            </div>

        </div>
    </section>
{% endblock %}

