

:root {
    /* Remplace la couleur primaire de Bulma */
    --bulmaswatch-primary: #b80e2e;

    /* Ces propriétés utilisent la nouvelle couleur principale */
    --bulma-primary: var(--bulmaswatch-primary);
    --bulma-primary-invert: #fff;
}

.button.is-primary {
    background-color: var(--bulma-primary) !important;
    color: var(--bulma-primary-invert) !important;
}

.is-primary {
    background-color: var(--bulma-primary) !important;
    color: var(--bulma-primary-invert) !important;
}

a:hover {
    background-color: #ffffff; /* Remplacez par la couleur de votre choix */
}

.navbar.is-primary .navbar-dropdown {
    background-color: #b80e2e; /* Remplacez par la couleur exacte de votre barre de navigation */
}

.navbar.is-primary .navbar-dropdown .navbar-item{
    background-color: #b80e2e; /* Remplacez par la couleur exacte de votre barre de navigation */
    color: black;
}

.navbar.is-primary .navbar-dropdown .navbar-item:hover {
    background-color: #ffffff; /* Couleur au survol, légèrement plus foncée pour le contraste */
}

.navbar {
    /* Augmente la hauteur de la navbar */
    min-height: 4rem;
}

.navbar-item {
    /* Agrandit le texte */
    font-size: 1.5rem;
    /* Ajoute plus d'espacement */
    padding: 1rem 1rem;
}

.navbar-item img {
    /* Agrandit le logo */
    max-height: 2.5rem;
}

.navbar-brand .navbar-item {
    /* Espace pour le logo et le nom du site */
    font-size: 2rem;
    font-weight: bold;
}

/* Pour les icônes */
.navbar .icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }

    .mobile-notice {
        display: block;
        padding: 1rem;
        background-color: #fffbeb;
        border: 1px solid #ffc107;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
}



/* Cacher la notice sur desktop */
@media screen and (min-width: 769px) {
    .mobile-notice {
        display: none;
    }
}