

:root {
    /* Remplace la couleur primaire de Bulma */
    --bulmaswatch-primary: #77182a;

    /* Ces propriétés utilisent la nouvelle couleur principale */
    --bulma-primary: var(--bulmaswatch-primary);
    --bulma-primary-invert: #fff;
}

.button.is-primary {
    background-color: var(--bulma-primary) !important;
    color: var(--bulma-primary-invert) !important;
}

.is-primary {
    background-color: var(--bulma-primary) !important;
    color: var(--bulma-primary-invert) !important;
}

.button:hover {
    background-color: #ff3860; /* Remplacez par la couleur de votre choix */
}