{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="box has-text-centered">
                <h1 class="title has-text-danger">404 - Page non trouvée</h1>

                <div class="error-image-container">
                    <figure class="image is-128x128 mx-auto">
                        <img src="{{ asset('images/snap.jpg') }}" alt="snap" class="has-radius-normal">
                    </figure>
                </div>

                <div class="error-message-container mt-auto">
                    <p class="subtitle mt-4">Désolé, la page demandée n'existe pas ou a été effacée.</p>
                </div>

                <div class="buttons is-centered mt-5">
                    <a href="{{ path('app_main') }}" class="button is-link">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span>Retour à l'accueil</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}